In [3]:
import pandas as pd

In [7]:
df = pd.DataFrame(
    [
        ['green','M',10.1,1],
        ['red','L',13.5,2],
        ['blue','XL',15.3,1]
    ]
)
df.columns = ['color','size','price','classlabel']
df

   color size  price  classlabel
0  green    M   10.1           1
1    red    L   13.5           2
2   blue   XL   15.3           1

In [8]:
#size雖然是類別，但是有大小的相關性，所以透過數值的方式做線性轉換
size_mapping = {
    'XL':3,
    'L':2,
    'M':1
}
df['size'] = df['size'].map(size_mapping)
df

   color  size  price  classlabel
0  green     1   10.1           1
1    red     2   13.5           2
2   blue     3   15.3           1

In [9]:
#但color類別並沒有線性關係，因此用onehot_encoding比較合適
pd.get_dummies(df['color'])

   blue  green  red
0     0      1    0
1     0      0    1
2     1      0    0

In [10]:
onehot_encoding = pd.get_dummies(df['color'], prefix = 'color')

In [12]:
df = df.drop('color',1)
df

   size  price  classlabel
0     1   10.1           1
1     2   13.5           2
2     3   15.3           1

In [17]:
final_df = pd.concat([df,onehot_encoding],axis=1)
final_df

   size  price  classlabel  color_blue  color_green  color_red
0     1   10.1           1           0            1          0
1     2   13.5           2           0            0          1
2     3   15.3           1           1            0          0